.axis path, .axis line {
    fill: none;
    stroke: #fff;
  }
.axis text {
  	font-size: 13px;
  }
.bar {
    fill: #f4b642;
  }
.bar:hover {
    fill: #F56C4E;
  }
svg text.label {
  fill:white;
  font-weight: 400;
  text-anchor: middle;
}
#chartID {
	min-width: 531px;
}
