@import url('https://fonts.googleapis.com/css?family=Poppins');
@font-face {
  src: url(fonts/gotham.ttf);
  font-family: gotham;
}

@font-face {
  src: url(fonts/Aller.ttf);
  font-family: aller;
}

.title{
  margin-top: 4%;
  font-size: 154px;
  font-family: gotham;
  text-align: center;
  color: white;
  margin-bottom: -10px;
}

.subTitle{
  font-size: 30px;
  font-family: gotham;
  text-align: center;
  color: #eed697;
  letter-spacing: 20px;
}

.background{
  background-color: #31393a;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    align-content: center;
    margin:auto;
    padding:0;
    background-size: cover;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-size: cover;

}

.crowdy{
  margin-top:100px;
  height: 20%;
  margin-bottom: 30px;
}

body {
  background: #bdbdc7;
  margin: 0 0;
  text-align:center;
}

#bg {
  position:fixed;
  top:-50%;
  left:-50%;
  width:200%;
  height:200%;
}

#bg img {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
	margin:auto;
	min-width:50%;
	min-height:50%;
}


form {
  background: none;
  margin: 20px auto 0;
  padding: 10px;
  width: 280px;
}

#login{
  margin-top: -30px;
}

#titleLogin{
  text-align: center;
  font-size: 154px;
  color: white;
  font-family: gotham;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #faf1d6 inset !important;
    opacity: 0.8;
}

input {
  margin-top: 20px;
  display: block;
  background: #142020;
  font-size: 14px;
  width:260px;
  margin: 10px auto;
  padding: 10px 8px 10px 8px;
  border: 1px solid #666;
  color: white;
  font-family: Aller;
  opacity: 0.8;
}

#disappear {
  opacity: 0;
}

input:hover,
input:focus {
  opacity: .9;
  color: black;
  border: 1px solid #08c;
  color: white;
}

input[type="text"]:focus, input[type="password"]:focus {
  box-shadow: inset 0 1px 2px rgba(255,255,255, .35), 0px 1px 15px rgba(0,246,255,.5);
  border: 1px solid #08c;
  outline: none;
}

input[type="submit"] {
  /* margin-top: 20px;
  appearance: none;
  opacity: .99;
  width:260px;
  background: #b9aa7d;
  border: 1.5px solid #ffff;
  border-radius: 10px;
  cursor: pointer;
  text-shadow:0px -1px 0px rgba(0,0,0,.5);
  margin-top: -30px */
}


input[type="submit"]:hover {
  background: ##b9aa7d;
  width:260px;
  border: 1.5px solid #0a5378;
  text-shadow:0px 1px 1px rgba(0,0,0,.65);
  -webkit-transition: all 0.40s ease-out;
  transition: all 0.40s ease-out;
}

#leftCorn{
  bottom: 0px;
  left: 0px;
  position: absolute;

}

#rightCorn{
  bottom: 0px;
  right: 0px;
  position: absolute;
}

.formWrapper{
  margin-top: 100px;
}
/* Register Page */

#registerForm{
  position:absolute;
  top:30%;
  right:0;
  left:0;
  color: white;
}

#inputBox{
  margin-top: 65px;
}



/* Display Theatres Page */

.crowdyWrapper{
    background-color: #31393a;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    align-content: center;
    margin:auto;
    padding:0;
    background-size: cover;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-size: cover;
}


.theatreBox{
  margin-top: 40px;
  width: 600px;
  height: 150px;
  /* border-style: solid;
  border-width: 5px; */
  margin-right: 30#;
  margin: 0 auto;
}

.theatreBox p {
  width: 600px;
  font-family: gotham;
  color: white;
  /* border-style: solid;
  border-width: 1px; */
  font-size: 32px;
  margin-right: 30%;

}

#address{
  margin-top: -20px;
  font-size: 20px;
  color: #eed697;
}

.graphBox{
  float: left;
  width: 300px;
  height: 300px;
  /* border-style: solid;
  border-width: 5px; */
  margin-right: 10px;
  background: grey;

}

#leftCornD{
  bottom: 0px;
  left: 0px;
  position: fixed;
}

#rightCornD{
  bottom: 0px;
  right: 0px;
  position: fixed;
}

.shit{
  width: 40px;
  height: 40px;

  /* border-style: solid;
  border-width: 5px; */

}

.theatreBox button{
  margin-top: -91px;
  margin-right: 900px;
  margin-left: -10px;
  width: 40px;
  height: 40px;
  float: left;
}

.map{
  background-color: #507176;
  width: 60%;
  height: 100vh;
  float: left;
}

.container{
  width: 40%;
  height: 100vh;
  /* background-color: blue; */
  float: right;

}


.bottom{
  width: 100%;
  height: 60vh;
  background-color: #172e31;
  float: left;
}

#title2{
  margin-top: 5%;
  font-size: 100px;
  font-family: gotham;
  text-align: center;
  color: white;
  margin-bottom: -10px;
}

.mojiWrapper{
  height: 400px;
  width: 100%;
  background-color: green;
  position: relative;
}

.mojiBox{
  width: 200px;
  height: 200px;
  background-color: red;
  position: absolute;
}
