<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Theatres in Your Area</title>
    <link rel= "stylesheet" type= "text/css" href= "../static/css/chart.css">
    <link rel= "stylesheet" type= "text/css" href= "../static/css/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script src="../static/js/chart.js"></script>
  </head>
  <div class="backgroundTheatrePage">
    <div class="crowdyWrapper">
    </div>
    <p id="title">Crowdy</p>
    <p id="subTitle">Here. Are. Your. Theaters.</p>

    <p>Radius</p>
    <form action="{{ url_for('dashboard') }}" method="POST">
      <input id="" type="text" name="inputLocation" value="">
    </input>

    <body>
      <div class="container">
      {% for element in list %}

        <div class="theatreBox">
          <!-- <div class="graphBox">
          </div> -->
          <p><b></b>{{ element.name }} </p>
          <p id="address"><b>Address: </b>{{ element.address }} </p>

          <div class="shit">
            <!-- <img  src="https://imgur.com/a/5jsRE53" alt=""> -->
            <form action="{{ url_for('pop') }}" method="POST">
              <input id="disappear" type="text" name="place" value="{{ element.place_id}}">
            </input>
              <button type="submit" value="Send Email" placeholder="hello" />
            </form>
            </div>
        </div>
        <div id="chartID">
        </div>

       <!--<p><b>Rating: </b>{{ element.rating }} </p><br>-->
       {% endfor %}
     </div>
       <a href='logout'>Logout</a>
    </body>
    <img id="leftCornD" src="https://imgur.com/nmzMpNZ.png" alt="">
    <img id="rightCornD" src="https://imgur.com/ls2WbKd.png" alt="">
  </div>
</html>
