<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Theatres in Your Area</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/chart.css') }}">
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script src="chart.js"></script>

  </head>
  <div class="backgroundTheatrePage">
    <div class="crowdyWrapper">
      <img class = "crowdy" width="25%" src="https://i.imgur.com/qfHbxkp.png" alt="">
    </div>
    <body>
      {% for element in list %}
      <div class="container">
        <div class="theatreBox">
          <div class="graphBox">
          </div>
          <p><b>Theater: </b>{{ element.name }} </p>
          <p><b>Address: </b>{{ element.address }} </p>
        </div>
        <div id="chartID">
        </div>

       <!--<p><b>Rating: </b>{{ element.rating }} </p><br>-->
       {% endfor %}
     </div>
       <!-- <a href='logout'>Logout</a> -->
    </body>
  </div>
</html>
