<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Theatres in Your Area</title>
    <link rel= "stylesheet" type= "text/css" href= "../static/css/chart.css">
    <link rel= "stylesheet" type= "text/css" href= "../static/css/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script src="../static/js/chart.js"></script>
  </head>
  <div class="backgroundTheatrePage">
    <div class="crowdyWrapper">
      <p class="title">Crowdy</p>
      <p class="subTitle">Here. Are. Your. Theaters.</p>
    </div>


    <body class="bodyDis">
      <div class="map">

      </div>
      <div class="container">
      <!-- {% for element in list %}

        <div class="theatreBox">
          <p><b></b>{{ element.name }} </p>
          <p id="address"><b>Address: </b>{{ element.address }} </p>

          <div class="shit">
            <form action="{{ url_for('pop') }}" method="POST">
              <input id="disappear" type="text" name="place" value="{{ element.place_id}}">
            </input>
              <button type="submit" value="Send Email" placeholder="hello" />
            </form>
            </div>
        </div>
        <div id="chartID">
        </div>

       {% endfor %} -->
     </div>

     <div class="bottom">
       <p id="title2">Meet The Team</p>
       <div class="mojiWrapper">
         <div class="mojiBox">

         </div>
         <div class="mojiBox">

         </div>
         <div class="mojiBox">

         </div>
         <div class="mojiBox">

         </div>
         <div class="mojiBox">

         </div>
       </div>


     </div>

    </body>
    <!-- <a href='logout'>Logout</a> -->
    <!-- <img id="leftCornD" src="https://imgur.com/nmzMpNZ.png" alt="">
    <img id="rightCornD" src="https://imgur.com/ls2WbKd.png" alt=""> -->
  </div>
</html>
