<!DOCTYPE html>
<html>
<head>
	<title>Crowdy</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
</head>
<body style="margin: 0;">
	<div class="background">
		<p id="title">Crowdy</p>
		<p id="subTitle">Find. Your. Theaters.</p>
		<img id="rightCorn" src="https://imgur.com/ygsiCcz.png" alt="">
		<div class="formWrapper">
			<form action = "/register" method = "POST">
						 <input type = "submit" value = "REGISTER" />
				</form>
			<form id="login" action = "/login" method = "POST">
							 <input type = "submit" value = "LOGIN" />
				</form>
		</div>
			<img id="leftCorn" src="https://imgur.com/nmzMpNZ.png" alt="">
			<img id="rightCorn" src="https://imgur.com/ls2WbKd.png" alt="">
	</div>
</body>
</html>
