<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
<div class="background">
  <form action="/login" method="post">
    <p id="title">Crowdy</p>
    <p>Email</p>
    {{ form.email }}
    <p>Password</p>
    {{ form.password }}
    {{ form.hidden_tag() }}
    <br>
    <br>
    <input type="submit" value="Login">
  </form>
  <img id="leftCorn" src="https://imgur.com/nmzMpNZ.png" alt="">
  <img id="rightCorn" src="https://imgur.com/ls2WbKd.png" alt="">
</div>
